{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Page not Found{% endblock %}
{% block description %}Homepage of Din Laurence Babia portfolio or Resume{% endblock %}
{% block keywords %}portfolio,resume,dinbabia,babia{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="align-items-center">
        <div class="align-items-center">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">OH NO! The page you requested could NOT BE FOUND. Please <a href="{% url 'main:contact' %}" style="text-decoration: underline;">Contact Me</a> if you have questions.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- ================================
End Content
================================= -->
